
.modalCont {
    height: 464px;
    width: 368px;
    border-radius: 24px;
    padding: 24px;
    background-color: #fff;

}

.modalCont img {
    height: 190px;
    width: 262px;
    margin-left: 53px;
    margin-top: 24px;
    


}
.modalCont h1{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0D121F;

}
.modalCont p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
}

.modalCont input {
    gap: 10px;
    width: 364px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    margin-left: 32px;
    font-size: 14px;
    margin-bottom: 16px;
    text-align: center;
}